<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krot.musicplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MusicPlayerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--MainScreen-->
        <activity android:name=".MainScreenActivity"/>

        <!--PlayList-->
        <activity
            android:name=".playlist.PlayListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--QueuePlayList-->
        <activity android:name=".queue.QueuePlayListActivity"/>

        <!--Service-->
        <service android:name=".service.SongPlaybackService"/>

        <receiver android:name=".receiver.PlaybackReceiver">
            <intent-filter>
                <action android:name="com.example.krot.musicplayer.ACTION_PLAYBACK" />
                <action android:name="com.example.krot.musicplayer.ACTION_PLAY_NEXT_SONG"/>
                <action android:name="com.example.krot.musicplayer.ACTION_PLAY_PREVIOUS_SONG"/>
                <action android:name="com.example.krot.musicplayer.ACTION_UPDATE_UI" />
            </intent-filter>
        </receiver>

        <!--font-->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>