<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krot.musicplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MusicPlayerApp"
        android:allowBackup="true"
        android:icon="@drawable/krot_music_player_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MainScreen -->
        <activity android:name=".MainScreenActivity" />

        <!-- PlayList -->
        <activity
            android:name=".playlist.PlayListActivity"
            android:screenOrientation="portrait"/>

        <!-- QueuePlayList -->
        <activity android:name=".queue.QueuePlayListActivity" />

        <!-- Service -->
        <service android:name=".service.SongPlaybackService" />

        <receiver android:name=".receiver.PlaybackReceiver">
            <intent-filter>
                <action android:name="com.example.krot.musicplayer.ACTION_PLAYBACK" />
                <action android:name="com.example.krot.musicplayer.ACTION_PLAY_NEXT_SONG" />
                <action android:name="com.example.krot.musicplayer.ACTION_PLAY_PREVIOUS_SONG" />
                <action android:name="com.example.krot.musicplayer.ACTION_SAVE_CURRENT_PLAYLIST" />
                <action android:name="com.example.krot.musicplayer.ACTION_CANCEL_NOTIFICATION" />
            </intent-filter>
        </receiver>


        <receiver android:name=".receiver.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.krot.musicplayer.ACTION_DISMISS_NOTIFICATION" />
                <action android:name="com.example.krot.musicplayer.ACTION_ENABLE_SWIPEABLE" />
                <action android:name="com.example.krot.musicplayer.ACTION_DISABLE_SWIPEABLE" />
            </intent-filter>
        </receiver>
        <!-- font -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>